body {
    font-family: Helvetica;
    padding-top: 55px;
    /*background-color: #F7C85C;*/
    /*background-color: linear-gradient(to right, #F99854, #F99854 60%, #F7C85C);*/
    /*background-color: linear-gradient(to right, #F99854, #F7C85C) !important;*/
    background: linear-gradient(to right, #F99854, #F5C95C 65%, red, blue);
    font-size: 20px;
    color: black;
}

h2
{
    color: black;
}

footer {
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    /*border-top: 1px solid #ededed; got a weird line*/
    color: #A9A9A9;
}

.icon-bar {
    background-color: #fff;
}

.accountform {
    padding-top: 20px;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.product {
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    margin: 0 auto;
}

caption p {
    word-wrap: break-word;
}

.row.row-flex {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}

.panel-default {
    border-color: transparent;
    padding: 0 10px;
}

.panel-body {
    height: 100%;
    border: 1px solid #ddd;
    /*padding: 0px; no need*/ 
}

.product-description {
    min-height: 40px;
}

.pay-total
{
    font-size: 20px;
}

/*.cart_div*/
/*{*/
/*    display: block;*/
/*}*/

#input_width
{
    /*padding-left: 10px;*/
    padding-right: 13px;
}

.total_div
{
    float: left;
    font-size: 22px;
}

/*.navbar-default .navbar-collapse, .navbar-default .navbar-form*/
/*{*/
/*    border-color: #F7C85C !important;*/
/*}*/

#navbar_id
{
    /*border-color: #F7C85C;*/
    border-color: #F99854;
    /*background-image: linear-gradient(#f5d285, #f7ca65 60%, #F7C85C);*/
    background-image: linear-gradient(#F99854, #F99854 60%, #F99854);

}


/*#div_beside_search #div_search*/
/*{*/
/*    display: inline-block;*/
/*}*/

/*.logo*/
/*{*/
/*     height:300px;*/
/*     width:300px;*/
/*     display: inline-block;*/
/*}*/

/*.navbar*/
/*{*/
    /*position: relative;*/
    /*min-height: 50px;*/
    /*margin-bottom: 0px !important;*/
/*}*/


/*.navbar-default .badge {*/
/*    background-color: #fff;*/
/*    color: #2fa4e7;*/

.navbar-default .badge
{
    background-color: #fff;
    color: #12CDD6 !important;
}


@font-face {
    font-family: 'sudsy_outlineregular';
    src: url('fonts/SudsyOutline/sudsyoutline-webfont.eot');
    src: url('fonts/SudsyOutline/sudsyoutline-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/SudsyOutline/sudsyoutline-webfont.woff2') format('woff2'),
         url('fonts/SudsyOutline/sudsyoutline-webfont.woff') format('woff'),
         url('fonts/SudsyOutline/sudsyoutline-webfont.ttf') format('truetype'),
         url('fonts/SudsyOutline/sudsyoutline-webfont.svg#sudsy_outlineregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


.navbar-brand
{
    text-shadow:
		-1px -1px 0 #DD004F,
		1px -1px 0 #DD004F,
		-1px 1px 0 #DD004F,
		1px 1px 0 #DD004F;
	
	font-family: sudsy_outlineregular;
	color: white;
	font-weight: bold;
	/*fill: white;*/
	font-size: 30px;
	display:block;
}



#navbar_brand_id
{
    padding-right: 0px;
}


#logo_pic
{
    /*width: auto;*/
    width: 100%;
    max-height: 400px;
    min-height:320px;
    min-width: 300px;
    max-width: 800px;   
    margin-bottom: 10px;
}
/*.btn-primary {*/
/*    color: #ffffff;*/
/*    background-color: #2fa4e7;*/
/*    border-color: #2fa4e7;*/
/*}*/

/*#cart_btn_primary_id*/
/*{*/
/*    background-image: #12CDD6;*/
/*}*/

/*.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {*/
/*    color: #ffffff;*/
/*    background-color: #178acc;*/
/*}*/

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    /*color: #ffffff;*/
    /*background-color: #f99854;*/
    background-color: #07D0CC;
}

.navbar-toggle
{
    background-color: #07D0CC;
}

/*#home_logo_div #home_write_up_div*/
/*{*/
/*    display: inline-block;*/
/*}*/

#login_symbol_id
{
    /*transform: scale(2);*/
    /*font-size: x-large;*/
    /*font-size: xx-large;*/
    font-size: 16px;
    color: #A6A6A6;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

/*trying difference sizes and to align with text but no success*/
/*.fa-sign-in*/
/*{*/
    /*font-size: 20px;*/
/*}*/

/*#login_text_id*/
/*{*/
/*    text-align: justify;*/
    
/*}*/


/*.wrapper {*/
  /*margin: 15px;*/
  /*background-color: red;*/
/*}*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.column_img_div 
{
  /*background-color: blue;*/
  height: 100%;
  flex: 1;
  width:100%;
  /*padding-top: 10px;*/
  
}

.column_img_div_side_text
{
  /*background-color: green;*/
  height: 100%;
  color: black;
  font-size: 24px;
  text-align: center;
  flex: 1;
  margin-top: 50px;
  margin-bottom: 10px;
}

.side_text_span
{
    display: block; 
}

/*.column_right_side*/
/*{*/
/*    flex: 0.5;*/
/*}*/

.img-responsive { 
    padding: 0px;
    margin: 0px;
    border: 0px;
    margin-top: 50px;
}

#navbar_brand_div
{
    padding-left: 0px;
    padding-right: 0px;
}

#navbar_header_id
{
    margin: 0px 0px;
}

.fa
{
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;

}

h1
{
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;

}

.tailor_full_note
{
    color: red;
}