{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Galaxy of Dance Dance Revolution!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/cerulean/bootstrap.min.css">
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <link rel="shortcut icon" href="/static/images/favicon.ico"> <!-- browser tab icon -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
    <!-- Fixed masthead -->
    <nav class="navbar navbar-masthead navbar-default navbar-fixed-top" id="navbar_id">
        <div class="container">
            
            <div class="navbar-header" id="navbar_header_id">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>   
                
                <div id="navbar_brand_div">
                    <a class="navbar-brand" id="navbar_brand_id" href="/">GALAXY OF DANCE DANCE REVOLUTION</a>
                </div>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="/"><i class="fa"></i> &#127968; <strong>Home</strong></a></li>
                    
                    <li><a href="/all_products"><i class="fa"></i> &#128666; <strong>Products</strong></a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'profile' %}"><i class="fa"></i> &#128100; <strong>Profile</strong></a></li> <!--  fa-user-->
                        <li><a href="{% url 'logout' %}"><i class="fa"></i> &#128682; <strong>Log Out</strong></a></li> <!--  fa-sign-out-->
                    {%  else %}
                        <li><a href="{% url 'register' %}"><i class="fa"></i> &#10133;<strong>Register</strong></a></li> <!--  fa-user-plus-->
                        <li><a href="{% url 'login' %}"><i class="fa"></i> <span id="login_symbol_id"> 	&#129154; <!--&#9094;--> </span> <span id="login_text_id"> <strong>Log In</strong> </span> </a></li> <!--  fa-sign-in-->
                    {% endif %}
                    <li>
                        <a href="{% url 'view_cart' %}">
                            <i class="fa fa-shipping-cart"></i>&#128722; <strong>Cart</strong>
                            {% if product_count > 0 %}
                            <label class="badge badge-warning">{{ product_count }}</label>
                            {% endif %}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% if messages %}
        <div class="alert alert-success">
            <div class="messages">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="wrapper">
        <div class="row" id="home_logo_div">
            <div class="column">
                <div class="column_img_div">
                    <img class="logo img-responsive" id="logo_pic" src="/static/images/logo-sketch2.jpg"></img>
                </div>
            </div>
    
            <div class="column">
                <div class="column_img_div_side_text">
                    <strong>
                        <span class="side_text_span">Welcome to Galaxy of </span>
                        <span class="side_text_span">Dance Dance Revolution!</span>
                        &#8203;
                        <span class="side_text_span">We are an e-commerce platform that </span>
                        <span class="side_text_span">supply products for dancers, </span>
                        <span class="side_text_span">practitioners and those whom are involved </span>
                        <span class="side_text_span">in this artistic Industry.</span>
                        &#8203;
                        <span class="side_text_span">Happy Shopping!</span>
                    </strong>
                </div>
            </div>
            
            <!--Third row if needed-->
            <!--<div class="column">-->
            <!--    <div class="column_right_side">-->
            <!--        <strong>Welcome to Galaxy of Dance Dance Revolution!-->
            <!--        &#8203;-->
            <!--        <p></p>-->
            <!--        We are an e-commerce platform that specifically supply products for dancers, practitioners and those whom are involved in this artistic Industry.-->
            <!--        <p></p>-->
            <!--        Happy Shopping!-->
            <!--        </strong>-->
            <!--    </div>-->
            <!--</div>-->
            
        </div>
    </div>
    
    <div class="container" id="div_search">
        <div class="display d-inline-flex p-2">
            <form action="{% url 'search' %}" method="get">
                <input type="text" name="q" placeholder="search products...">
                <button type="search">Search</button>
            </form>
        </div>
        {% block content %} {% endblock %}
    </div>
    
    
    
    <div class="container-fluid">
        <h1>Address</h1>
        <p>Block 999 Galaxy Super Highway, Singapore 999999</p>
        
        <h1>Contact Info</h1>
        <p>Email : info@gddr.com</p>
        <p>Phone : +65 6789 1234</p>
        
        <h1>Tailor Services for Custom Made Costumes</h1>
        <p>Kindly give us a call or drop us an email to enquire about your tailoring needs</p>
        <p class="tailor_full_note"> &#9733; Please note that currently we are fully booked until the last quarter of the year. Check back here for latest update or contact us directly &#9733; </p>
        
        
    </div>
    <footer>
        <div class="container_text">
            <p></p>
        </div>
    </footer>
    {% block head_js %}
    {% endblock %}
</body>
</html>